.u-section-1 .u-sheet-1 {
  min-height: 500px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 412px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 316px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 296px;
  }
} .u-section-2 {
  min-height: 1014px;
}

.u-section-2 .u-layout-wrap-1 {
  width: calc(((100% - 1140px) / 2) + 1140px);
  margin: 30px auto 60px 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 764px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-2 .u-gallery-1 {
  height: 534px;
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-2 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-1 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-2 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-thumbnails-1 {
  padding-top: 10px;
}

.u-section-2 .u-carousel-thumbnail-1 {
  width: 100px;
  height: 100px;
}

.u-section-2 .u-carousel-thumbnail-2 {
  width: 100px;
  height: 100px;
}

.u-section-2 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
  top: 122px;
}

.u-section-2 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
  top: 122px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 374px;
}

.u-section-2 .u-container-layout-2 {
  padding: 0;
}

.u-section-2 .u-table-1 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-block-e61e-50 {
  height: 46px;
}

.u-block-e61e-61 {
  height: 46px;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 374px;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-layout-cell-4 {
  min-height: 390px;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-layout-cell-5 {
  min-height: 390px;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 880px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: calc(((100% - 940px) / 2) + 940px);
  }

  .u-section-2 .u-layout-cell-1 {
    background-position: 50% 50%;
    min-height: 630px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 308px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 308px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 322px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 322px;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 1315px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: calc(((100% - 720px) / 2) + 720px);
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 472px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 472px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 493px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 493px;
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 3246px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: calc(((100% - 540px) / 2) + 540px);
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 708px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 708px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 740px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 740px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 2174px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: calc(((100% - 340px) / 2) + 340px);
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 446px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 446px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 466px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 466px;
  }
}